@use "reset";
@use "global";
@import "responsive";


html{
  width: 100%;
  background-color: rgb(145, 161, 172)
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-container {
  border-radius: 10%;
  width: 300px;
  height: 480px;
  margin: 20px;
  display: inline-block;
  background-color: white;
}

.image   {
  margin:25px;

.image__qr {
 border-radius:10%;

 }
}

 .title__text {
   margin: 20px;
   padding: 10px;
   font-weight: bold;
   text-align: center;
   font-size: 1.3rem;
 }


.instrucions__text {
  margin: 20px;
  padding: 4px;
  text-align: center;
  font-size: 1.1rem;
}

